.map_allmap {
    .allmap{
        height: calc(100vh - 45px);
        .circle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #00e064;
            color: #fff;
            border: 2px solid hsla(0, 0%, 100%, .8);
            cursor: pointer;
        }
        .rect {
            padding: 3px;
            display: flex;
            align-items: center;
            color: #fff;
            background-color: #00e064;
            border: 2px solid hsla(0, 0%, 100%, .8);
            cursor: pointer;
        }
    }
    .house_list{
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 0px;
        transition: all .5s;
        background-color: #59ffc6;
        .house_title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;
            padding: 0 10px;
            h3{

            }
            span{

            }
        }
        .list_content{
            padding: 0 10px 40px;
            background-color: #fff;
            overflow-y: auto;
            height: 100%;
        }
    }
}