.map_allmap {
    width: 100vw;
    height: calc(100vh - 45px);
    #allmap{
        width: 100%;
        height: 100%;
        margin: 0;
    }
}
.map-opts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    color: #fff;
    border: 2px solid hsla(0, 0%, 100%, .8);
    cursor: pointer;
}