.navbar{
    display: flex;
    align-items: center;
    padding: 7px 0;
    &-icon{
        z-index: 1;
        margin-right: -10px;
        line-height: 0;
    }
}
.area-filters{
    .filter-picker{
        display: flex;
        align-items: center;
        background-color: #fff;
        height: 40px;
        border-bottom: 1px solid #eee;
        .filter-name {
            display: flex;
            align-items: center;
            color: #333;
            flex: 1 1;
            justify-content: center;
            span{
                font-size: 17px;
            }
            .iconfont{
                font-size:12px;
            }
        }
        .activeName{
            color: #00e064;
        }
    }
    .filter-box {
        .picker-select {
            display: flex;
            align-items: center;
            border-top: 1px solid #eee;
            font-size: 16px;
            .cancel {
                height: 50px;
                line-height: 50px;
                text-align: center;
                flex: 1;
                background-color: #fff;
                color: #00e064;
            }
            .deter {
                height: 50px;
                line-height: 50px;
                text-align: center;
                flex: 2;
                background-color: #00e064;
                color:#fff;
            }
        }
    }
}